:root {
  --fg-primary: #eac117;
  --fg-secondary: #eae517;

  --bg-primary: #200a63;
  --bg-secondary: #420461;

  --shadow-color: #000000;
  --dark-font: #000000;
}

body {
  background-color: var(--bg-primary);
  color: var(--fg-secondary);
}

#logo {
  color: var(--fg-primary);
  left: 1rem;
  position: fixed;
  text-shadow: 1px 1px 1px var(--shadow-color);
  top: 1rem;
}

h1 {
  color: var(--fg-primary);
  font-size: 70px;
  margin: 0 0 -1rem;
  text-align: center;
  text-shadow: 1px 1px 1px var(--shadow-color);
}

h2 {
  color: var(--fg-primary);
  font-size: 40px;
  margin: 0;
  text-align: center;
  text-shadow: 1px 1px 1px var(--shadow-color);
}

select {
  background-color: transparent;
  padding: 0.5rem;
  text-align: center;
  width: 369px;
}

#player-inputs {
  margin: auto;
  width: 340px;
}

#player-names p {
  margin: 1em 0;
}

#player-names input {
  display: block;
  margin: 0.2em 0;
  width: 340px;
}

#init-timer {
  margin-bottom: 2rem;
}

#buttons {
  background-color: #fff;
  border-top: 1px solid #888;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  left: 0;
  position: fixed;
  right: 0;
}

#tournament-table-menu-btn {
  justify-self: flex-start;
}

#buttons button {
  margin: 0.2em;
}

/* ------------ */

#suggested-matches {
  align-items: center;
  display: flex;
  gap: 1rem;
}

label {
  display: inline-block;
}

label > span {
  display: block;
}

.suggested-round {
  border: 1px solid var(--bg-secondary);
  display: flex;
  gap: .5rem;
  padding: .5rem 1rem;
}

.suggested-match {
  background-color: #dedede;
  color: var(--dark-font);
  padding: 0 .5rem;
}

.player-table {
  border: 1px solid #444;
  border-collapse: collapse;
  display: inline-block;
  margin: 0.5em;
  table-layout: fixed;
  text-align: center;
  text-shadow: 0 0 1px #fff;
  width: 300px;
}

.player-table .position {
  border-bottom: 1px solid #000;
  font-family: 'Times New Roman', sans-serif;
}

.player-table td:not(.player-name) {
  border-bottom: 1px solid #444;
}

.player-table tr:last-child td {
  border-bottom: none;
}

.player-table .win td:not(.player-name) {
  background-color: #6f0;
}

.player-table .loss td:not(.player-name) {
  background-color: #ff7e29;
}

.player-table .player-name {
  width: 35%;
}

.player-table .divider {
  font-size: 18px;
}

.player-table .score {
  border-left: 1px solid #444;
  border-right: 1px solid #444;
  font-size: 30px;
  padding: 0 0.3rem;
}

.player-table .score,
.player-table .divider {
  width: 5%;
}

.player-table .opp-name {
  padding: 0.3rem 0;
  width: 35%;
}

/* ---------------- */

#clock {
  font-size: 200px;
}

.alarm-playing {
  animation: color 500ms infinite step-end;
}

@keyframes color {
  0% {
    background: black;
    color: white;
  }

  50% {
    background: white;
    color: black;
  }
}
