#logo {
  color: #eac117;
  left: 1rem;
  position: fixed;
  text-shadow: 1px 1px 1px #000;
  top: 1rem;
}

h1 {
  color: #eac117;
  font-size: 70px;
  margin: 0 0 -1rem;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
}

h2 {
  color: #eac117;
  font-size: 40px;
  margin: 0;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
}

select {
  background-color: transparent;
  padding: 0.5rem;
  text-align: center;
  width: 369px;
}

#player-inputs {
  margin: auto;
  width: 340px;
}

#player-names p {
  margin: 1em 0;
}

#player-names input {
  display: block;
  margin: 0.2em 0;
  width: 340px;
}

#init-timer {
  margin-bottom: 2rem;
}

#buttons {
  background-color: #fff;
  border-top: 1px solid #888;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
}

#buttons button {
  float: right;
  margin: 0.2em;
}

/* ------------ */

label {
  display: inline-block;
}

label > span {
  display: block;
}

#suggested-matches p,
#suggested-matches span {
  display: inline-block;
  margin: 0 0.5em;
  padding: 0.5em;
}

#suggested-matches p {
  background-color: #dedede;
}

.player-table {
  border: 1px solid #444;
  border-collapse: collapse;
  display: inline-block;
  margin: 0.5em;
  table-layout: fixed;
  text-align: center;
  text-shadow: 0 0 1px #fff;
  width: 300px;
}

.player-table .position {
  border-bottom: 1px solid #000;
  font-family: 'Times New Roman', sans-serif;
}

.player-table td:not(.player-name) {
  border-bottom: 1px solid #444;
}

.player-table tr:last-child td {
  border-bottom: none;
}

.player-table .win td:not(.player-name) {
  background-color: #6f0;
}

.player-table .loss td:not(.player-name) {
  background-color: #ff7e29;
}

.player-table .player-name {
  width: 35%;
}

.player-table .divider {
  font-size: 18px;
}

.player-table .score {
  border-left: 1px solid #444;
  border-right: 1px solid #444;
  font-size: 30px;
  padding: 0 0.3rem;
}

.player-table .score,
.player-table .divider {
  width: 5%;
}

.player-table .opp-name {
  padding: 0.3rem 0;
  width: 35%;
}

/* ---------------- */

#clock {
  font-size: 200px;
}

.alarm-playing {
  animation: color 500ms infinite step-end;
}

@keyframes color {
  0% {
    background: black;
    color: white;
  }

  50% {
    background: white;
    color: black;
  }
}
