.container {
  background-color: var(--color-gray-98);
  border-bottom: 1px solid var(--color-gray-50);
  display: flex;
  height: var(--header-height);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.container > h1 {
  color: var(--color-primary);
  font-size: var(--font-size-m);
  margin: auto;
  overflow: hidden;
  padding: 0 var(--size-s);
  text-overflow: ellipsis;
  text-shadow: 1px 1px 0 var(--color-black);
  white-space: nowrap;
}