.header {
  background-color: var(--color-gray-98);
  border-bottom: 1px solid var(--color-gray-50);
  display: flex;
  height: var(--counters-header-height);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.header > h1 {
  color: var(--color-primary);
  font-size: var(--font-size-m);
  margin: auto;
  overflow: hidden;
  padding: 0 var(--size-s);
  text-overflow: ellipsis;
  text-shadow: 1px 1px 1px var(--color-black);
  white-space: nowrap;
}

.counters {
  display: flex;
  height: calc(100vh - var(--counters-header-height));
  margin-top: var(--counters-header-height);
}

.firstPlayer {
  border-right: 1px solid var(--color-black);
}

.languageSelect {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
}