.container {
  background-color: var(--color-white);
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.container.open {
  display: block;
}

.header {
  background-color: var(--color-gray-20);
}

.header > button {
  display: block;
  margin-left: auto;
}

.content {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}