.container {
  background-color: var(--color-gray-98);
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.container.open {
  display: block;
}

.header {
  align-items: center;
  background-color: var(--color-gray-20);
  color: var(--color-gray-98);
  display: flex;
  justify-content: flex-end;
  text-shadow: 1px 1px 1px black;
}

.header > h1 {
  font-weight: normal;
  margin: 0 auto;
}

.header > button {
  display: block;
}

.content {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
