.header {
  border-bottom: 1px solid var(--color-gray-50);
  display: flex;
  left: 0;
  position: fixed;
  right: 0;
  top: 0px;
}

.header > h1 {
  color: var(--color-primary);
  font-size: var(--font-size-m);
  margin: auto;
  overflow: hidden;
  padding: 0 var(--size-s);
  text-overflow: ellipsis;
  text-shadow: 1px 1px 1px var(--color-black);
  white-space: nowrap;
}

.languageSelect {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
}